.app.dark {
  --bg-color: #060638;
  --inverted-bg-color: #e8e8ea;

  --primary-color: #206760;
  --secondary-color: #2a622a;

  --inberted-primary-color: #0232c2;
  --inberted-secondary-color: #0452ff;
}